<h1>Login</h1>
<p>Welcome back.  To vote and comment on brands, please sign in.  If you don't yet have an account with Heroes N Villans, please go to <a href="users/new">the Sign Up page.</a></p>


<form action="/authenticate">
  <label>Email:</label>
  <input type="text" name="email">
  <br>
  <br>
  <label>Password:</label>
  <input type="text" name="pwd">
  <br>
  <br>
  <input type="submit">
</form>
