<div class="page-header">
  <h1>Welcome Aboard</h1>
  <p>Registering for Heroes & Villans will enable you to add new brands as well as vote and comment on existing ones.  We're thrilled to have you, because together -- and only together -- our voices will influence corporate decisions that effect planet & people.</p>
</div>

<form action="/users/create" class="col-md-4">
<h2>Enter your info</h2>
  <div class="form-group">
    <label class="control-label">First Name:</label>
    <input name="user_first" type="text" class="form-control input-md" placeholder="">
  </div>

<div class="form-group">
    <label class="control-label">Last Name:</label>
    <input name="user_last" type="text" class="form-control input-md" placeholder="">
  </div>

<div class="form-group">
    <label class="control-label">Email:</label>
    <input name="email" type="text" class="form-control input-md" placeholder="">
  </div>

  <div class="form-group">
    <label>Password:</label>
    <input name="password" type="password" class="form-control input-md" placeholder="">
  </div>

  <button type="submit" class="btn btn-success btn-md">Sign Me Up!</button>
</form>
