<div class="page-header">
  <%#= link_to "Edit", "/brands/#{@brand.id}/edit", :class => "btn btn-md btn-success pull-right" %>
  <h1>Brand Details</h1>
</div>

<%= render 'details' %>

<%= render 'vote' %>


<!-- OTHERS REVIEWS -->
<%= render 'reviews' %>


<!-- NEWS ON BRANDS FROM REDDIT -->
<!-- <div>
<h2>Recent News for <%#= @brand.brand_name %></h1>

<p>It is <%#= @data["main"]["temp"] %> degrees outside.</p>
</div> -->
<script>

#
</script>


